.interfacePane {
  -fx-background-color: white;
  -fx-border-color: black;
  -fx-border-width: 1;
}

.whitePane {
  -fx-background-color: white;
}

.borderPane {
  -fx-border-color: black;
  -fx-border-width: 1;
  -fx-padding: 0 0 0 0;
  -fx-margin: 0 0 0 0;
}

.borderDownPane {
  -fx-border-color: black;
  -fx-border-width: 1;
  -fx-border-style: hidden hidden solid hidden;
}

.borderRightPane {
  -fx-border-color: black;
  -fx-border-width: 1;
  -fx-border-style: hidden solid hidden hidden;
}